html,
body {
  background-color: #fff4d6;
}
.wrapper {
  min-width: 320px;
  max-width: 750px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}
.wrapper .bgimg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
